.tree-wrappper {
  min-height: 500px;
  overflow-y: scroll;
}

.interface-list .container-title {
  display: flex;
}

.interface-list.ant-tree li span.ant-tree-switcher {
  height: 30px;
  line-height: 30px;
}
