@import "../../styles/common.scss";

.m-subnav {
  margin-bottom: 0.24rem;
  background-color: #fff;
  box-shadow: 0 0 0.04rem rgba(0, 0, 0, 0.3);
  font-size: 0.14rem;
  border: none;

  .ant-menu {
    font-size: unset;
  }

  .ant-menu-horizontal {
    line-height: 0.45rem;
  }

  .m-subnav-menu {
    border: none;
    padding: 0 0.24rem;

    .item {
      line-height: 0.45rem;
      padding: 0 0.36rem;
      font-weight: normal;
    }
  }
}
